/* App.css */
body {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  margin: 0;
  font-family: Arial, sans-serif;
}

.app nav {
  background-color: #444; /* Darker grey for the nav */
  padding: 10px;
  text-align: center;
}

.app nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.app nav ul li {
  margin: 0 15px;
}

.app nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.app nav ul li a:hover {
  text-decoration: underline;
}

.container {
  padding: 20px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
